body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#app {
    margin-top: 50px;
}

#timer {
    font-size: 80px; /* Adjust the size as needed */
    font-weight: bold;
}

#reps {
    font-size: 80px; /* Adjust this value to make it bigger or smaller */
    font-weight: bold;
}

